.feynman {
  box-sizing: border-box;
  position: relative;

  min-height: 890px;
  padding-top: 50px;
  background-image: url("../../images/feynman.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left bottom;
  background-color: #f2f2f2;
  color: #000;
}
